@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    width: 100%;
    font-family: sans-serif;
    color: #272727;
    background: #b9b8b8;
    padding: 0px;
    margin: 0px;
}

.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* меню header */
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 111px;
    background: #ffffff;
    padding: 0 24px 0 36px;
    box-sizing: border-box;
}

.header__logo {
    width: 200px;
    height: 53.45px;

}

.header__menu {
    display: flex;
    align-items: center;
    margin-left: 155px;
    margin-right: 99px;
    width: 560px;
}

.header__menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header__menu a {
    font-size: 18px;
    text-decoration: none;
    color: #494949;
}

.header__icons {
    width: 96px;
    display: flex;
    justify-content: space-between;
}

.header__icons img {
    width: 27px;
    height: 27px;
}

.header__callback {
    width: 203px;
    margin-left: 67px;
    font-size: 24px;
}

.tel {
    font-size: 16px;
}

hr {
    display: flex;
    color: #D3D3D3;
    max-width: 1440px;
}

/*Cекция menu + меню сайта*/

.headMenu {
    width: 100%;
    height: 72px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headMenu__buttonCatalog {
    display: flex;
    margin-left: 36px;
    height: 40px;
    align-items: center;
    background-color: #5661CB;
    border-radius: 4px;
    border: none;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-right: 163px;
}

.headMenu__buttonCatalog img {
    width: 29px;
    height: 29px;
    margin-left: 10px;
}

.headMenu__buttonCatalog p {
    width: 68px;
    height: 21px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.headMenu a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

.headMenu__sales {
    color: red;
}

.headMenu__input {
    min-width: 248px;
    height: 40px;
    display: flex;
    border-radius: 4px;
    border: 1px solid #080808;
    align-items: center;
    justify-content: space-around;
}

.headMenu__input input {
    border: none;
    font-size: 12px;
    background-color: #ffffff;
}

.headMenu__input img {
    width: 16px;
    height: 18px;
}

.headMenu__about {
    color: #494949;
}

.headMenu__contacts {
    color: #494949;
}

.headMenu__order {
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #5661CB;
    border-radius: 4px;
    border: none;
    margin-right: 24px;
}

/* Секция Центрального окна. Верхний блок из трех элементов*/
.upperBlocks {
    width: 100%;
    height: 388px;
    background: #ffffff;
    display: flex;
}

.upperBlocks__catalog {
    width: 300px;
    height: 300px;
    margin-left: 36px;
    border-radius: 1px;
    background-color: #ffffff;
    filter: drop-shadow(0px 3px 5px #D0D0D0);
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.upperBlocks__catalog li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 13px;
}

.upperBlocks__catalog li:nth-last-child(-n+1) {
    margin-bottom: 0px;
}

.upperBlocks__catalog a {
    text-decoration: none;
    color: #272727;
}

.upperBlocks__catalog img {
    float: right;
}

.upperBlocks__centralWindow {
    display: flex;
    width: 1034px;
    height: 301px;
    margin-left: 45px;
}

.upperBlocks__centralWindow img {
    max-width: 636px;
    border-radius: 10px 0px 0px 10px;
}

.upperBlocks__centralWindow div {

    background-color: #5661CB;
    border-radius: 0px 10px 10px 0px;
    list-style-type: none;
    color: #ffffff;
}

.centralWindow__generalInfo {
    width: 398px;
    padding-left: 56px;
    box-sizing: border-box;
}

.generalInfo__nameProduct {
    margin-top: 31px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
}

.generalInfo__productInfo {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-top: 10px;
}

.generalInfo__stockInfo {
    display: flex;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin-top: 10px;
    color: #ffffff;
}

.generalInfo__stockInfoDelivery {}

.generalInfo__stockInfoInStock {
    margin-left: 28px;
}

.generalInfo__price {
    margin-top: 16px;
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
}

.generalInfo__price_modificator {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
}

.generalInfo__buttons {
    display: flex;
    margin-top: 13px;
}

.generalInfo__buttons_Buy {
    width: 142px;
    height: 33px;
    padding: 9px 19px 8px 19px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #272727;
}

.generalInfo__buttons_Add {
    margin-left: 9px;
    width: 55px;
    height: 33px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #5661CB;
}

.loverBlock {
    width: 1031px;
    height: 49px;
    margin-top: 26px;
    margin-left: 45px;
}

.loverBlock__minibox {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.loverBlock__minibox_icon {
    width: 28px;
    height: 24px;
    border-radius: 8px;
    padding: 10px 10px;
    background-color: #9fa6ee1f;
    float: left;
}

.loverBlock__minibox li {
    display: flex;
    align-items: center;
}

.loverBlock__minibox p {
    font-size: 14px;
    margin-left: 10px;
    height: 34px;
}

/* Секция 1. Спецпредложения и карточки товаров */
.middlewindow {
    width: 100%;
    background: #ffffff;
}

.headline {
    margin-left: 29px;
    margin-right: 31px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.headline h1 {
    font-size: 36px;
    letter-spacing: 1px;
}

.headline__link {
    font-weight: bolder;
    font-size: 16px;
    color: #D41A36;
    height: 19px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.productCard {
    max-width: 243px;
    border: 0.7px solid;
    border-color: #89898950;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.productCard__status {
    display: flex;
    justify-content: space-between;
}

.productCard__statusP {
    position: relative;
    left: -11px;
    display: flex;
    width: 109px;
    height: 23px;
    background-color: orange;
    font-size: 12px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.productCard__img {
    display: block;
    width: 145px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
}

.productCard__nameProduct {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.productCard__productInfo {
    margin-top: 8px;
}

.productCard__productInfo p {
    font-size: 14px;
    font-weight: 300px;
    margin-bottom: 3px;
    line-height: 16px;
}

.productCard__productInfo p:nth-last-child(-n+1) {
    margin-bottom: 0px;
}

.productCard__stockInfo {
    font-size: 12px;
    font-weight: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
    line-height: 14px;
}

.productCard__stockInfoDelivery {
    color: #7D7D7D;
    text-decoration: underline;
}

.productCard__stockInfoInStock {
    color: #219653;
    text-decoration: underline;
}

.productCard__price {
    margin-top: 11px;
    font-size: 20px;
    font-weight: 600;
}

.productCard1__price_modificator {
    font-size: 12px;
    font-weight: 400;
}

.productCard__buttons {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}

.buttons__Buy {
    display: flex;
    width: 142px;
    height: 33px;
    background-color: #5661CB;
    border-radius: 4px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}

.buttons__Add {
    display: flex;
    border: 0.7px solid;
    border-color: #5661CB;
    border-radius: 4px;
    width: 40px;
    height: 33px;
    align-items: center;
    justify-content: center;
}

/*  Секция 2.  Проекты из наших стройматериалов */
.secondWindow {
    width: 100%;
    height: 401px;
    background: #ffffff;
}

.headline_link2 {
    margin-left: 29px;
    font-weight: bolder;
    font-size: 16px;
    color: #5661CB;
    height: 19px;
}

.ourJobPicture {
    margin-left: 29px;
    display: flex;
    justify-content: space-between;
    margin-right: 31px;
}

/* Секция 3. Дополнительные услуги */
.thirdwindow {
    width: 100%;
    height: 400px;
    background: #ffffff;
}

.services {
    margin-left: 29px;
    margin-right: 31px;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    box-sizing: border-box;
}

.frame {
    width: 319px;
    height: 221px;
    filter: drop-shadow(0px 0px 10px #D0D0D0);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px 40px 30px 40px;
    box-sizing: border-box;
    display: block;
}

.frame:hover {
    background-color: #d30c0c;
    transition: all .3s linear;
    color: white;
}

.card-delivery {}

.sphere {
    Width: 78px;
    Height: 78px;
    background-color: #9fa6ee10;
    border-radius: 39px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nameservices {
    font-size: 16px;
    font-weight: bolder;
}

.description {
    font-size: 14px;
    font-weight: 400px;
}

.carddelivery {}

/* Cекция 4. Наш шоурум */
.forthwindow {
    width: 100%;
    height: 400px;
    background: #ffffff;
}

.showRoom {
    margin-left: 29px;
    margin-right: 31px;
    display: flex;
    justify-content: space-between;
}

/* last window  */
.lastWindow {
    width: 100%;
    height: 100px;
    background: #ffffff;
}

.lentcompany {}

.companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.companies__button {
    padding: 28px 32px;
}

/* Footer */
footer {
    width: 100%;
    height: 344px;
    background: #f7f7f7;
    border: 2px #080808;
}
.footerInfo {
    display: flex;
    justify-content: space-between;
    height: 236px;
}
.footerInfo__aboutCompany {
    margin-left:34px;
}

.footerInfo__tittle {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    list-style: none;
    color: #272727;
    margin-bottom: 23px;
    margin-top: 41px;
}

.footerInfo_style ul {
    list-style-type: none;
}

.footerInfo_style li {
    margin-bottom: 10px;
}

.footerInfo_style a {
    text-decoration: none;
    color: #272727;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.footerInfo__callBack_contact p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 7px;
}

.footerInfo__callBack_contact a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.footerInfo__callBack_item {
    margin-top: 14px;
    justify-content: space-between;
}
.ourAdress {
    font-weight: 500;
    font-size: 26px;
}

.footerInfo__ourAdress_text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 9px;
}

.buttonOptBuy {
    width: 300px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.optOrder {
    width: 200px;
    height: 40px;
    background-color: #5661CB;
    border-radius: 4px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    margin-right: 30px;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    height: 108px;
    align-items: center;
    border-top-style: solid;
    border-width: 1px;
    border-color: #7D7D7D;
    
   
}   

.footerBottom__content {
    margin-left: 34px;  
    font-size: 14px;
    font-weight: 400;
    
}

.footerBottom_visa {
    margin-right:30px;
}
.footerBottom_mastercard {
    margin-right:67px;
}

